<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basket</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/BStyle.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body> 
    <div class="bg-2">
        <header class="header">
            <div class="header__container">
                <a href="/base"><i class="fa fa-home"></i></a>
            </div>
        </header>
        <form class="main" action="/account" method="post">  
            {{ change_form.hidden_tag() }}         
            <div class="container">
                <div class="rewrite">
                    <p>Name</p>
                    <input type="text" value="{{ current_user.username }}"  name="changed_username" id="name">
                    <button class="change_username" name="change_name">Change username</button>
                </div>
                <div class="info">Name used for ID verification.</div>
            </div>
            <div class="border"></div>
            <div class="container">
                <div class="rewrite">
                    <p>Email address (Log in)</p>
                    <input type="text" value="{{ current_user.email }}" name="changed_email" id="email">
                    <button class="change_email" name="change_mail">Change email</button>
                </div>
                <div class="info">You receive messages at this address.</div>
            </div>
            <div class="border"></div>
            <div class="container">
                <div class="rewrite">
                    <p>Password</p>
                    <button class="rewrite-password" name="change_pass">Reset your password</button>
                </div>
                <div class="info">Please check your email for password reset instructions.</div>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='JS/account.js') }}"></script>
</body>
</html>