<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basket</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/BStyle.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body> 
    <div class="video">
        <video autoplay muted id="myVideo">
            <source src="{{ url_for('static', filename='Video/video.mp4') }}" type="video/mp4">
        </video>
    </div>
    <div class="bg">
        <header class="header">
            <div class="header__container">
                <a href="/base"><i class="fa fa-home"></i></a>
                <button class="buy">To order</button>
            </div>
        </header>
        <div class="main">
            <div class="delete">
                <div class="button">
                    <a class="del" href="{{ url_for('clear') }}"><i class="fa fa-trash"></i></a>
                    <p>Delete all</p>
                </div>
            </div>
            <div class="content section_1">
            {% if goods_in_basket %}
                {% for basket in goods_in_basket %}
                {% set discounted_price = basket.good.price * (100 - basket.good.discount) / 100 %}
                {% set rounded_price = ((discounted_price + 5) // 10) * 10 %}
                    <div class="proposition anim-items no-hide-anim">
                        <div id="{{ basket.good.Img_id }}" class="foto">
                        </div>
                        <div class="about-sneakers">
                            <div class="close">
                                <a class="close-button" href="{{ url_for('clearItem', basket_id=basket.id) }}">
                                    <i class="material-icons">close</i>
                                </a>
                            </div>
                            <h1>{{ basket.good.name }}</h1>
                            <div class="size">
                                <h3>Size : {{ basket.size }}</h3>
                            </div>
                            <div class="cost">
                                <div class="count-buy">
                                    <button class="count minus"  data-item="{{ basket.good_id }}"><i class="fa fa-minus" style="pointer-events: none; cursor: default;" ></i></button>
                                    <span class="plus-minus" data-item-count="{{ basket.good_id }}">1</span>
                                    <button class="count plus"  data-item="{{ basket.good_id }}"><i class="fa fa-plus" style="pointer-events: none; cursor: default;" ></i></button>
                                </div>
                                <div class="cost-value">
                                    <div class="discount">-{{ basket.good.discount}}%</div>
                                    <p class="f_cost">{{ basket.good.price }} ₴</p>
                                    <p class="r_cost">{{rounded_price|int}} ₴</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <H1 style="color: white;">You didn't choose shoes</H1>
                {% endif %}
            </div>
        </div>
    </div>
<script src="{{ url_for('static', filename='JS/loading.js') }}"></script>
<script src="{{ url_for('static', filename='JS/plus-minus.js') }}"></script>
</body>
</html>