{% extends "base.html" %}

{% block login %}
    <div class="Log_in">
        <div class="close">
            <button class="close-button">
                <i class="material-icons">close</i>
            </button>
        </div>
        {% block register %}{% endblock %}
        <form action="/base" method="post" class="input-place" id="log">
            {{ login_form.hidden_tag() }}
            <p>Or</p>
            <input type="text" name="login-username" placeholder="Name" required>
            {% for error in login_form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            <div class="light">
                <input type="password" name="login-password" placeholder="Password" id="pass"  required>
                <div class="light-img" id="light-img_1"></div>
                <div class="light-yellow" id="light-yellow_1" style="pointer-events: none; cursor: default;"></div>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <h6 style="color: red;">{{ message }}</h6>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button class="LogIn_button" name="login" value="Login" >
                Log in
            </button> 
            {% for error in login_form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </form>
        {% include 'resetPassword.html' %}
        <div class="reset_pass">Reset password</div>
        <div class="input-place" style="margin: 0px 0px auto 0px;">
            <div class="acc">
                <span class="acc_acc">
                    No account? 
                </span>   
                <span class="create">
                    Create one
                </span>
            </div>
        </div> 
    </div>
{% endblock %}